<aside class="filters">
  <div class="block">
    <div class="block-title">Par archivé</div>
    <a class="link active">Tout</a>
    <a class="link">Oui</a>
    <a class="link">Non</a>
  </div>

  <div class="block">
    <div class="block-title">Par créé le</div>
    <a class="link active">Toutes les dates</a>
    <a class="link">Aujourd’hui</a>
    <a class="link">Les 7 derniers jours</a>
    <a class="link">Ce mois-ci</a>
    <a class="link">Cette année</a>
  </div>

  <div class="block">
    <div class="block-title">Par modifié le</div>
    <a class="link active">Toutes les dates</a>
    <a class="link">Aujourd’hui</a>
    <a class="link">Les 7 derniers jours</a>
    <a class="link">Ce mois-ci</a>
    <a class="link">Cette année</a>
  </div>
</aside>
